.card {

  &__picture {
    position: relative;
    display: block;
  }

  &--hit .card__picture {
    &::before {
      @include hit-label;
      bottom: 29px;
      left: 0;
    }

    &::after {
      @include hit-label-flag-right;
      bottom: 29px;
      left: 168px;
    }
  }

  &__img {
    display: block;
  }

  &__description {
    padding-top: 26px;
    padding-bottom: 15px;
    border: 1px solid #e5ddd5;
    border-top-width: 0;
  }

  &--one .card__description {
    padding-top: 20px;
    padding-bottom: 3px;
  }

  &--three .card__description {
    padding-top: 24px;
  }

  &--four .card__description {
    padding-top: 23px;
  }

  &__title {
    margin: 0;
    margin-bottom: 13px;
    padding: 0 23px;
    font-size: 24px;
    line-height: 27px;
  }

  &__text {
    margin: 0;
    padding: 0 23px 15px 23px;
    font-size: 18px;
    line-height: 27px;
  }

  &__options {
    @include list-style;
    display: flex;
    flex-wrap: wrap;
  }

  &__option {
    padding-right: 10px;
    width: 139px;

    &--haircut {
      padding-left: 58px;
      background: url("../img/icons/scissors-icon.svg") no-repeat 22px 4px;
    }

    &--shavering {
      padding-left: 55px;
      background: url("../img/icons/beard-icon.svg") no-repeat 11px 2px;
    }

    &--mustache {
      padding-left: 67px;
      background: url("../img/icons/mustache-icon.svg") no-repeat 10px 8px;
    }

    &--beard {
      padding-left: 59px;
      background: url("../img/icons/beard-icon.svg") no-repeat 18px 2px;
    }
  }

  &__option-type {
    display: block;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    text-transform: uppercase;
  }
}


@media (min-width: $tablet) {
  .card {
    display: flex;

    &--hit .card__picture {

      &::before {
        top: 35px;
        bottom: auto;
        padding-left: 17px;
      }

      &::after {
        top: 35px;
        bottom: auto;
      }
    }

    &__img {
      width: 270px;
      height: auto;
    }

    &__description {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 40px;
      padding-bottom: 24px;
      border-top-width: 1px;
      border-left-width: 0;
    }

    &--hit .card__description {
      padding-top: 43px;
      padding-bottom: 20px;
    }

    &--two .card__description,
    &--three .card__description,
    &--four .card__description {
      padding-top: 40px;
      padding-bottom: 24px;
    }

    &__title {
      margin-bottom: 25px;
      padding: 0 50px;
    }

    &__text {
      padding-left: 50px;
      padding-right: 90px;
    }

    &--hit .card__text {
      padding-right: 50px;
    }

    &__options {
      margin-top: auto;
      padding-left: 28px;
    }

    &__option {
      margin-bottom: 14px;
    }

    &__option-type {
      margin-bottom: 0;
    }
  }
}


@media (min-width: $desktop) {
  .card {
    position: relative;
    flex-direction: column;
    width: 294px;

    &--two .card__description,
    &--three .card__description,
    &--four .card__description {
      padding: 29px 0 17px 0;
    }

    &--hit {
      order: -1;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;

      &::before {
        @include hit-label;
        top: 25px;
        right: 0;
      }

      &::after {
        @include hit-label-flag-left;
        top: 25px;
        right: 168px;
      }
    }

    &--hit .card__img {
      width: 480px;
    }

    &--hit .card__picture {
      &::before,
      &::after {
        display: none;
      }
    }

    &--hit .card__description {
      padding: 128px 0 13px 0;
      border-top-width: 1px;
      border-left-width: 0;
    }

    &--hit .card__title {
      margin-bottom: 25px;
      padding: 0 40px;
    }

    &--hit .card__text {
      padding: 0 140px 0 40px;
    }

    &--hit .card__options {
      padding-right: 98px;
      padding-left: 18px;
    }

    &__img {
      width: 294px;
    }

    &__description {
      flex-grow: 1;
      padding: 29px 0 17px 0;
      border-top-width: 0;
      border-left-width: 1px;
    }

    &__title {
      margin-bottom: 26px;
      padding: 0 35px;
    }

    &__text {
      padding: 0 30px 25px 35px;
    }

    &__options {
      justify-content: space-between;
      padding: 0;
      padding-left: 12px;
      padding-right: 51px;
    }

    &__option {
      display: inline-block;
      width: auto;
    }
  }
}
