.pricelist {
  display: block;
  padding: 0;
  padding-bottom: 27px;
  width: 100%;
  border-collapse: collapse;
  border: none;
  font-size: 20px;
  line-height: 27px;

  tbody {
    display: block;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__cell {
    &--number,
    &--option {
      display: none;
    }

    &--field {
      font-weight: bold;
    }
  }

  &__note {
    font-weight: normal;
  }
}


@media (min-width: $tablet) {
  .pricelist {
    padding: 0;
    margin-bottom: 9px;

    &__row {
      margin: 0;
    }

    &__cell {
      padding: 0;
      padding-top: 13px;
      padding-bottom: 14px;
      text-align: left;
      border: 1px solid #4a4a4a;
      border-bottom-width: 0;
      border-right-width: 0;

      &:last-child {
        border-right-width: 1px;
      }

      &--number,
      &--option {
        display: block;
      }

      &--number {
        width: 70px;
        color: rgba(255, 255, 255, 0.3);
        text-align: center;
      }

      &--field {
        padding-left: 20px;
        padding-right: 20px;
        width: 250px;
      }

      &--option {
        padding-left: 20px;
        padding-right: 5px;
        width: 160px;
      }

      &--value {
        padding-left: 21px;
        padding-right: 21px;
        width: 160px;
      }
    }

    &__row:last-child td {
      border-bottom-width: 1px;
    }

    &__note {
      display: none;
    }
  }
}