.products {
  position: relative;
  margin: 0 auto;
  padding: 29px 20px 34px 20px;
  width: 320px;
  background-color: #f8f5f2;

  &::after {
    z-index: 2;
    content: "";
    position: absolute;
    bottom: -68px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    border: 34px solid transparent;
    border-left-width: 160px;
    border-right-width: 160px;
    border-top-color: #f8f5f2;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &__home-btn {
    display: none;
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


@media (min-width: $tablet) {
  .products {
    margin-top: -185px;
    padding: 54px 64px 62px 64px;
    width: 768px;

    &::before {
      content: "";
      position: absolute;
      top: -41px;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      border: 41px solid transparent;
      border-left: 384px solid #f8f5f2;
      border-right: 384px solid #f8f5f2;
      border-bottom-width: 0;
    }

    &::after {
      bottom: -82px;
      border-width: 41px;
      border-left-width: 384px;
      border-right-width: 384px;
    }

    &__title-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-bottom: 38px;
    }

    &__title {
      margin-bottom: 0;
      padding-top: 8px;
      font-size: 40px;
      line-height: 30px;
      text-align: left;
    }

    &__home-btn {
      display: block;
      margin-left: auto;
    }

    &__item {
      margin-bottom: 41px;
    }
  }
}