.sale {
  padding: 17px 17px 18px 113px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: url("../img/products/clock.png") no-repeat 19px 15px;

  &__text {
    margin: 0;
  }
}


@media (min-width: $tablet) {
  .sale {
    padding: 41px 23px 43px 185px;
    font-size: 30px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    background: url("../img/products/clock-tablet.png") no-repeat 25px 20px;
  }
}
