.home-btn {
  cursor: pointer;
  display: block;
  padding: 12px;
  width: 160px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #e5ddd5;

  &:hover {
    border-color: #d5c9bd;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5c9bd;
    border-color: #d5c9bd;
  }
}
