.advantages {
  width: 320px;
  margin: 0 auto;

  &__wrap {
    position: relative;
    background-color: #242424;

    &::after {
      content: "";
      position: absolute;
      bottom: -68px;
      left: 0;
      width: 0;
      border: 34px solid transparent;
      border-left-width: 160px;
      border-right-width: 160px;
      border-top-color: #242424;
    }
  }

  &__list {
    @include list-style;
  }

  &__item {
    padding-top: 145px;
    background-color: #242424;
    background-repeat: no-repeat;
    background-position: center 22px;
  }

  &__item--fast {
    background-image: url("../img/advantages/advantage-1.svg");
  }

  &__item--cool {
    background-image: url("../img/advantages/advantage-2.svg");
  }

  &__item--expensive {
    background-image: url("../img/advantages/advantage-3.svg");
  }

  &__item--cool,
  &__item--expensive {
    display: none;
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #f7f4f1;
  }

  &__text {
    margin: 0;
    padding: 0 40px 16px 40px;
    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
    text-align: center;
    color: #f7f4f1;
  }

  &__toggles {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 13px 0;
    width: 76px;
  }

  &__toggle {
    display: block;
    cursor: pointer;
    padding: 0;
    width: 8px;
    height: 8px;
    font-size: 0;
    line-height: 0;
    border: 2px solid #ffffff;
    outline: none;
    background: none;
    transform: rotate(45deg);
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }

    &--active {
      cursor: default;
      border: 2px solid #ffffff;
      background-color: #ffffff;
      opacity: 1;

      &:active {
        opacity: 1;
      }
    }
  }
}


@media (min-width: $tablet) {
  .advantages {
    width: auto;
    margin: 0;
    margin-top: -359px;

    &__wrap {
      padding-top: 359px;
      width: 768px;
      margin: 0 auto;
      background-color: #242424;

      &::after {
        bottom: -84px;
        border-top-width: 42px;
        border-bottom-width: 42px;
        border-left-width: 384px;
        border-right-width: 384px;
      }
    }

    &__list {
      margin: 0 auto;
      width: 640px;
    }

    &__item {
      position: relative;
      padding: 40px 30px 40px 160px;
      background-position: 31px 44px;

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 36px;
        width: 568px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &__item:last-child {
      padding-bottom: 44px;

      &::after {
        display: none;
      }
    }

    &__item--cool,
    &__item--expensive {
      display: block;
    }

    &__title {
      padding: 0;
      font-size: 30px;
      line-height: 30px;
      text-align: left;
    }

    &__text {
      padding: 0;
      font-size: 20px;
      line-height: 27px;
      text-align: left;
    }

    &__toggles {
      display: none;
    }
  }
}


@media (min-width: $desktop) {
  .advantages {
    margin-top: -173px;

    &__wrap {
      margin: 0 auto;
      padding-top: 173px;
      width: 1200px;

      &::after {
        bottom: -128px;
        border-left-width: 600px;
        border-right-width: 600px;
        border-top-width: 64px;
        border-bottom-width: 64px;
      }
    }

    &__list {
      display: flex;
      margin: 0 auto;
      width: 960px;
    }

    &__item {
      padding: 0;
      padding-top: 203px;
      width: 320px;
      background-position: center 78px;

      &:last-child {
        padding-bottom: 0;
      }

      &::after {
        top: 79px;
        right: -1px;
        left: auto;
        bottom: auto;
        width: 1px;
        height: 268px;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &__title {
      font-size: 30px;
      line-height: 30px;
      text-align: center;
    }

    &__text {
      padding: 0 40px 40px 40px;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
    }
  }
}
