.main-nav {
  position: relative;
  z-index: 3;
  width: 320px;
  margin: 0 auto;
  background-color: $nav-bg;

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0;
    line-height: 0;
    background: $nav-toggle-bg url("../img/icons/menu-icon.svg") no-repeat 17px 15px;

    &:hover,
    &:active {
      background-color: $nav-hover-bg;
    }

    &:active {
      background-image: url("../img/icons/menu-icon-down.svg");
    }
  }

  &__list {
    @include list-style;
    font-weight: bold;
  }

  &__link {
    display: block;
    padding: 12px 21px 13px 21px;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border-top: 1px solid #886e5b;
    background-color: $nav-bg;
  }

  &__item {
    display: none;

    &--active {
      position: relative;
      display: block;
    }
  }

  &__user {
    display: none;
    background-color: $nav-user-bg;
  }

  &__login {
    position: relative;
    display: block;
    padding: 14px 20px 14px 49px;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      top: 17px;
      left: 20px;
      width: 16px;
      height: 16px;
      background: url("../img/icons/login-mobile.svg") no-repeat 0 0;
    }
  }
}


@media (max-width: $mobile-only) {
  .main-nav--opened {

    .main-nav__wrap {
      position: absolute;
      top: 0;
      right: 0;
      width: 250px;
      min-height: 80vh;
      background-color: $nav-user-bg;
    }

    .main-nav__wrap::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 7px;
      height: 100%;
      box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.3);
    }

    .main-nav__toggle {
      top: 0;
      left: -70px;
      background: $nav-toggle-bg url("../img/icons/menu-close.svg") no-repeat 22px 13px;

      &:hover {
        background-color: $nav-hover-bg;
      }

      &:active {
        background-image: url("../img/icons/menu-close-down.svg");
      }
    }
    .main-nav__item,
    .main-nav__user {
      display: block;
    }

    .main-nav__link {
      padding: 12px 21px 13px 21px;
      border-bottom: 1px solid #71543f;

      &:hover {
        border-top-color: $nav-item-hover;
        border-bottom-color: #71543f;
        background-color: $nav-item-hover;
      }

      &:active {
        color: rgba(255, 255, 255, 0.3);
        border-color: $nav-item-active;
        background-color: $nav-item-active;
      }
    }

    .main-nav__item--active .main-nav__link {
      cursor: default;

      &:hover,
      &:active {
        color: #ffffff;
        border-top: 1px solid #886e5b;
        border-bottom: 1px solid #71543f;
        background-color: $nav-bg;
      }
    }

    .main-nav__user {
      background: $nav-user-bg;
      height: 100%;
    }
  }

  .main-nav--nojs {
    .main-nav__wrap {
      position: static;
      width: 320px;
    }

    .main-nav__toggle {
      display: none;
    }
  }
}


@media (min-width: $tablet) {
  .main-nav {
    width: auto;
    margin: 0;
    background: #000000;

    &__wrap {
      display: flex;
      justify-content: space-between;
      padding: 0 64px;
      width: 768px;
      margin: 0 auto;
      background-color: #000000;
    }

    &__toggle {
      display: none;
    }

    &__list {
      display: flex;
      flex-direction: flex-start;
      flex-wrap: wrap;
      width: 570px;
    }

    &__item {
      display: block;
      margin-right: 34px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      display: inline-block;
      width: auto;
      padding: 25px 0 23px 0;
      background: none;
      border: none;

      &:hover {
        border: none;
        color: #826550;
        background-color: #000000;
      }

      &:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    &__item--active {

      .main-nav__link-wrap {
        position: relative;
      }

      .main-nav__link-wrap::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -26px;
        width: 100%;
        height: 3px;
        background-color: #826550;
      }
    }

    &__item--active .main-nav__link {
      &:hover {
        cursor: default;
        color: #ffffff;
        border: none;
        background: #000000;
      }
    }

    &__user {
      display: block;
      background: none;
    }

    &__login {
      padding: 25px 0 23px 0;
      width: 60px;
      font-size: 0;

      &::before {
        top: 29px;
        left: 11px;
        background: url("../img/icons/login-tablet.svg") no-repeat 0 0;
        opacity: 0.3;
      }

      &:hover::before {
        background: url("../img/icons/login-tablet-hover.svg") no-repeat 0 0;
        opacity: 1;
      }

      &:active::before {
        background: url("../img/icons/login-tablet-down.svg") no-repeat 0 0;
        opacity: 1;
      }
    }
  }
}


@media (min-width: $desktop) {
  .main-nav {

    &__wrap {
      padding: 0 120px;
      width: 1200px;
    }

    &__list {
      width: 780px;
    }

    &__item {
      margin: 0;
    }

    &__link {
      padding-left: 32px;
      padding-right: 33px;

      &:hover {
        color: #000000;
        background-color: #ffffff;
      }

      &:active {
        color: rgba(0, 0, 0, 0.3);
      }
    }

    &__login {
      padding: 25px 0 23px 62px;
      width: 130px;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;

      &::before {
        left: 27px;
      }

      &:hover {
        color: #000000;
        background-color: #ffffff;
      }

      &:active {
        color: rgba(0, 0, 0, 0.3);
      }

      &:active::before {
        background: url("../img/icons/login-desktop-down.svg") no-repeat 0 0;
        opacity: 0.1;
      }
    }
  }
}
