.page-header {

  .page-header__wrap {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
  }

  .page-header__logo {
    padding: 29px 44px 26px 50px;
    background-color: $darkgrey;
  }

  .page-header__logo-link {
    display: block;
    font-size: 0;
    line-height: 0;
    text-decoration: none;

    &:hover {
      cursor: default;
    }
  }

  .page-header__logo-img {
    width: 226px;
    height: 30px;
  }
}


@media (min-width: $tablet) {
  .page-header {

    .page-header__wrap {
      width: 768px;
      min-height: 470px;
      background: #000000 url("../img/header-bg-tablet.jpg") no-repeat center;
    }

    .page-header__logo {
      order: 2;
      padding: 39px 0 257px 0;
      background: none;
    }

    .page-header__logo-link {
      width: 370px;
      height: 101px;
      margin: 0 auto;
      padding-left: 6px;
    }

    .page-header__logo-img {
      width: 370px;
      height: 101px;
    }
  }
}


@media (min-width: $desktop) {
  .page-header {

    .page-header__wrap {
      width: 1200px;
      min-height: 720px;
      background: #000000 url("../img/header-bg-desktop.jpg") no-repeat center;
      background-size: cover;
    }

    .page-header__logo {
      padding-top: 56px;
    }

    .page-header__logo-link {
      padding-left: 0;
      width: 370px;
      height: 153px;
    }

    .page-header__logo-img {
      width: 370px;
      height: 153px;
    }
  }
}
