.reviews {

  &__wrap {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 26px 20px 0 20px;
    width: 320px;
    background-color: #f8f5f2;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -68px;
      border: 34px solid transparent;
      border-top-color: #f8f5f2;
      border-left-width: 160px;
      border-right-width: 160px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 29px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__item {
    position: relative;
    margin: 0;
    width: 280px;
  }

  &__avatar {
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: auto;
    background-size: cover;
  }

  &__author {
    margin-left: 72px;
    font-size: 24px;
    line-height: 27px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
  }

  &__text {
    margin: 0;
    padding: 7px 0 10px 71px;
    font-size: 18px;
    line-height: 27px;
  }

  &__toggles {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 18px 0;
    width: 76px;
  }

  &__toggle {
    display: block;
    cursor: pointer;
    padding: 0;
    width: 8px;
    height: 8px;
    font-size: 0;
    line-height: 0;
    border: 2px solid #353535;
    outline: none;
    background: none;
    transform: rotate(45deg);
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }

    &--active {
      cursor: default;
      border: 2px solid #353535;
      background-color: #353535;
      opacity: 1;

      &:active {
        opacity: 1;
      }
    }
  }

  &__add,
  &__btn,
  &__item--john,
  &__item--ivan {
    display: none;
  }
}


@media (min-width: $tablet) {
  .reviews {
    width: auto;
    margin: 0;

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      padding: 37px 64px 50px 64px;
      margin: 0 auto;
      width: 768px;

      &::after {
        display: none;
      }
    }

    &__title {
      margin: 0;
      width: 400px;
      font-size: 40px;
      line-height: 40px;
      text-align: left;
    }

    &__add,
    &__btn {
      display: block;
    }

    &__add {
      margin-left: auto;
      padding: 12px;
      width: 160px;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      color: #000000;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid #e5ddd5;

      &:hover {
        border-color: #d5c9bd;
      }

      &:active {
        color: rgba(0, 0, 0, 0.3);
        background-color: #d5c9bd;
      }
    }

    &__list {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-top: 36px;
      width: 640px;
    }

    &__btn {
      cursor: pointer;
      padding: 0;
      width: 50px;
      font-size: 0;
      line-height: 0;
      border: 1px solid #e5ddd5;
      outline: none;
      background: #f8f5f2 url("../img/icons/reviews-arrow.svg") no-repeat 50% 50%;

      &:hover {
        border-color: #d5c9bd;
      }

      &:active {
        background-color: #d5c9bd;
      }

      &--next {
        background: #f8f5f2 url("../img/icons/reviews-arrow-next.svg") no-repeat 50% 50%;
      }
    }

    &__item {
      margin: 0;
      padding: 0;
      padding-top: 30px;
      width: 540px;
      border-top: 1px solid #e5ddd5;
      border-bottom: 1px solid #e5ddd5;
    }

    &__avatar {
      top: 38px;
      left: 30px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    &__author {
      margin-left: 141px;
      font-size: 24px;
      line-height: 27px;
    }

    &__text {
      padding: 10px 50px 34px 140px;
      font-size: 18px;
      line-height: 27px;
    }

    &__toggles {
      z-index: 1;
      margin-top: -22px;
      padding: 18px 25px;
      width: 126px;
      background-color: #f8f5f2;
    }
  }
}
