.stats {
  position: relative;
  z-index: 2;
  width: 320px;
  margin: 0 auto;

  &__header {
    color: #000000;
    background-color: #ffffff;
  }

  &__title {
    margin: 0;
    padding: 27px 69px 0 69px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  &__intro {
    margin: 0;
    padding: 16px 39px 26px 39px;
    font-size: 20px;
    line-height: 27px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__table tr {
    color: #ffffff;
    background-color: #404040;

    &:nth-child(2) {
      background-color: #4e4e4e;
    }

    &:nth-child(3) {
      background-color: #353535;
    }

    &:nth-child(4) {
      background-color: #404040;
    }
  }

  &__value,
  &__field {
    width: 50%;
    padding: 19px 20px;
    vertical-align: top;
  }

  &__value {
    padding-right: 0;
    font-size: 40px;
    line-height: 40px;
  }

  &__field {
    padding-left: 30px;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
  }

  &__asterisk {
    top: -0.35em;
    left: 5px;
  }

  &__note {
    margin: 0;
    padding: 20px 50px 20px 50px;
    font-size: 20px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.3);
    background-color: #242424;
  }

  &__note--top {
    display: none;
  }

  &__note sup {
    top: 0;
    font-size: 20px;
    line-height: 27px;
  }
}


@media (min-width: $tablet) {
  .stats {
    margin-top: -193px;
    width: 640px;

    &__header {
      position: relative;
      display: flex;
      flex-wrap: wrap;

      &::before {
        content: "";
        position: absolute;
        top: 27px;
        left: -15px;
        border: 15px solid transparent;
        border-bottom-color: #ffffff;
        transform: rotate(45deg);
      }
    }

    &__title {
      margin: 0;
      padding: 30px 40px 12px 40px;
      width: 320px;
      font-size: 40px;
      line-height: 40px;
      font-weight: bold;
      text-align: left;
      text-transform: none;
    }

    &__intro {
      margin: 0;
      padding: 36px 80px 13px 32px;
      width: 320px;
      font-size: 20px;
      line-height: 27px;
    }

    &__note--top {
      margin: 0;
      padding: 0 40px 27px 40px;
      width: 320px;
      display: block;
      font-size: 20px;
      line-height: 27px;
      color: rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
    }

    &__note--bottom {
      display: none;
    }

    &__table tbody {
      display: flex;
      flex-wrap: wrap;
    }

    &__row {
      padding: 25px 35px 28px 35px;
      width: 50%;
    }

    &__value,
    &__field {
      display: block;
      padding: 0;
      width: auto;
      text-align: left;
    }

    &__value {
      padding-bottom: 7px;
      font-size: 72px;
      line-height: 72px;
      font-weight: bold;
    }

    &__field {
      font-size: 20px;
      line-height: 27px;
      font-weight: normal;
      color: #f7f4f1;
    }
  }
}
