.order-info {

  &__textarea {
    display: block;
    padding: 8px 19px 15px 19px;
    width: 100%;
    min-height: 112px;
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #e5ddd5;
    outline: none;
    resize: none;

    &::placeholder {
      color: #000000;
    }
  }
}

@media (min-width: $tablet) {
  .order-info {
    margin-bottom: 0;

    &__textarea {
      padding: 19px 26px 19px 26px;
      min-height: 211px;
      font-size: 24px;
      line-height: 30px;
    }
  }
}
