$mobile-only: 709px;
$tablet: 710px;
$desktop: 1040px;

$regular-text: #000000;
$white: #ffffff;

$darkgrey: #242424;
$nav-bg: #826550;
$nav-toggle-bg: #6a4d38;
$nav-hover-bg: #624530;
$nav-item-hover: #755a46;
$nav-item-active: #6a4d38;
$nav-user-bg: #6a4d38;